.modal.fade#select_user_modal{tabindex: "-1",role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", 'data-dismiss' => "modal", 'aria-hidden'=>"true"}
        %h4.modal-title#myModalLabel 社員選択
      .modal-body
        %table#user_table.table.table-striped.table-bordered.table-hover{cellspacing:"0", width:"100%"}
          %thead
            %tr
              %th 社員番号
              %th 氏名
              %th 所属コード
              %th 役職コード
          %tbody
            - @shains.each do |shain|
              %tr
                %td #{shain.連携用社員番号}
                %td #{shain.氏名}
                %td #{shain.所属コード}
                %td #{shain.役職コード}
      .modal-footer
        %button.btn.btn-primary{type:"button", 'data-dismiss'=>"modal"}　ＯＫ　
        %button.btn.btn-default{type:"button", 'data-dismiss'=>"modal"} 閉じる