<div class="row">
  <div class="col-md-2">
    <%= render 'kinmu_refer' %>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <%# button_tag :合計, type: 'button', class: 'btn kintai-sum' %>
    <%= label_tag '合計時間' %>
  </div>
  <div class="col-md-4">
    <table  id="kintai-table" class="table table-striped table-bordered table-hover table-condensed" cellspacing="0">
      <thead>
      <tr>
        <th>実労働</th>
        <th>遅刻早退</th>
        <th>普通残業</th>
        <th>深夜残業</th>
        <th>普通保守</th>
        <th>深夜保守</th>
      </tr>
      </thead>

      <tbody>
          <tr>
            <td class="sum1"></td>
            <td class="sum2"></td>
            <td class="sum3"></td>
            <td class="sum4"></td>
            <td class="sum5"></td>
            <td class="sum6"></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-1">
    <%= button_tag :入力終了, type: 'button', class:'btn finish-input' %>
  </div>
  <div class="col-md-2">
    <p class="finish-message"></p>
  </div>
</div>
