.panel.panel-default
  .panel-heading
    %h3.panel-title 管理G メインメニュー
  .panel-body
    .row
      .col-md-3
        %ul.list-group
          %li.list-group-item= link_to '勤怠', kanris_kintais_path
      .col-md-3
        %ul.list-group
          %li.list-group-item
            = link_to '経費', kanris_keihiheads_path
