<div class="col-md-3 col-md-offset-4">
    <h3>ログインしてください</h3>
</div>


<br>
<%= render 'login_form' %>

<!--<div class="form-group">-->
    <!--<div class="col-md-3 col-md-offset-4">-->
        <!--<%# link_to 'Password change', edit_user_path(@user) %>-->
    <!--</div>-->
<!--</div>-->

<!--, class: 'btn btn-default'-->