<%= javascript_include_tag 'basho' %>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to '場所マスタ', bashomasters_path %></li>
  <li class="active">新規</li>
</ol>

<%= render 'form', mode: :new %>
