<p>
  <strong>所属コード:</strong>
  <%= @shozokumaster.所属コード %>
</p>

<p>
  <strong>所属名:</strong>
  <%= @shozokumaster.所属名 %>
</p>

<%= link_to '編集', edit_shozokumaster_path(@shozokumaster) %> |
<%= link_to '戻る', shozokumasters_path %>
