<%= javascript_include_tag 'event' %>

<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to 'カレンダー', events_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">イベント</li>
</ol>

<%= render 'form_event', mode: 'new' %>