<%= javascript_include_tag 'event' %>

<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to 'カレンダー', events_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">イベント</li>
</ol>

<%= render 'form_event', mode: 'new' %>



  <style>

      body {
          margin: 0;
          padding: 0;
          font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
          font-size: 14px;
      }

      #calendar_test {
          max-width: 900px;
          margin: 50px auto;
      }

  </style>

<div id='calendar_test'></div>

