<%= form_for :shozai, url: shozais_select_path, html:{class: 'form-horizontal'} do |f| %>

<div class="row">
  <div class="col-sm-1 col-sm-offset-3">
    <div class="btn btn-info"
      <label>　　　　</label><br>
      <label>　　　　</label><br>
      <label>　　　　</label><br>
      <label>　　　　</label><br>
      <label>　　　　</label><br>
      <label>　　　　</label><br>
      <label>　　　　</label><br>
      <label>　　　　</label><br>
      <label>区分選択</label><br>
      <label>　　　　</label><br>
      <label>　　　　</label><br>
      <label>　　　　</label><br>
      <label>　　　　</label><br>
      <label>　　　　</label><br>
      <label>　　　　</label><br>
      <label>　　　　</label><br>
      <label>　　　　</label>

    </div>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
  <% @sagyous.each do |sagyou| %>
    <input type="radio" id="kubunshentaku" name="sagyou" value="<%= sagyou.作業場所名 %>"> <%= sagyou.作業場所名 %><br>
    <% end %>
    <br>
    <br>
    <br>
  </div>
</div>
<% end %>