<%= javascript_include_tag 'kaishamasters' %>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to '会社マスタ', kaishamasters_path %></li>
  <li class="active">編集</li>
</ol>

<%= render 'form', mode: :edit %>