<%= javascript_include_tag 'yakushokus' %>

<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to '役職テーブル', yakushokumasters_path %></li>
  <li class="active">編集</li>
</ol>

<%= render 'form', mode: :edit  %>