<table id="hinme_search_table" class="table table-striped table-bordered table-hover" cellspacing="0">

  <thead>
    <tr>
      <th>品目コード</th>
      <th>品目名</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>99999998</td>
        <td>Macbook Air</td>
      </tr>
      <tr>
        <td>99999999</td>
        <td>Ipad Air 2</td>
      </tr>
  </tbody>
</table>
