<div class="col-md-3">
	<div style="margin-top: 40px"></div>
	<ul class="media-list">

	  <li class="media">
	    <a class="pull-left">
	      <img class="media-object" src="../../assets/images/KOUSEI2.BMP" alt="...">
	    </a>
	    <div class="media-body">
	      <p class="media-heading">販売</p>
	    </div>
	  </li>

	  <li class="media">
	    <a class="pull-left">
	      <img class="media-object" src="../../assets/images/KOUSEI3.BMP" alt="...">
	    </a>
	    <div class="media-body">
	      <p class="media-heading">購買</p>
	    </div>
	  </li>

	  <li class="media">
	    <a class="pull-left">
	      <img class="media-object" src="../../assets/images/KOUSEI4.BMP" alt="...">
	    </a>
	    <div class="media-body">
	      <p class="media-heading">生産</p>
	    </div>
	  </li>

	  <li class="media">
	    <a class="pull-left">
	      <img class="media-object" src="../../assets/images/KOUSEI5.BMP" alt="...">
	    </a>
	    <div class="media-body">
	      <p class="media-heading">販売・購買</p>
	    </div>
	  </li>

	  <li class="media">
	    <a class="pull-left">
	      <img class="media-object" src="../../assets/images/KOUSEI6.BMP" alt="...">
	    </a>
	    <div class="media-body">
	      <p class="media-heading">販売・生産</p>
	    </div>
	  </li>

	  <li class="media">
	    <a class="pull-left">
	      <img class="media-object" src="../../assets/images/KOUSEI7.BMP" alt="...">
	    </a>
	    <div class="media-body">
	      <p class="media-heading">購買・生産</p>
	    </div>
	  </li>

	  <li class="media">
	    <a class="pull-left">
	      <img class="media-object" src="../../assets/images/KOUSEI0.BMP" alt="...">
	    </a>
	    <div class="media-body">
	      <p class="media-heading">販売・購買・生産</p>
	    </div>
	  </li>
</ul>

</div>

<div class="col-md-9">
<!-- <div class="btn-group"> -->
	<button type="button" class="btn btn-primary" onclick="$('#jstree').jstree('open_all');">　展　開　</button>
	<button type="button" class="btn btn-primary">　修　正　</button>
	<button type="button" class="btn btn-primary">　削　除　</button>
<!-- </div> -->

	<div style="margin-bottom: 10px"></div>
	<legend></legend>

	<%= render 'tree' %>
		
</div>