<%= javascript_include_tag 'tree' %>

<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">Tree</li>

</ol>

<form class="form-horizontal" action="index" method="post" role="form">
<%= render 'header' %>
<%= render 'main' %>
</form>