<%= javascript_include_tag 'jpt_holiday_msts' %>

<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to 'ジュピター休日', jpt_holiday_msts_path %></li>
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">新規</li>
</ol>

<%= render 'form' %>