/*fullcalendar customize*/
/*.fc-sat, .fc-sun {*/
/*background-color: #ddd !important;*/
/*}*/
.fc-sat, .fc-sun {
  color: red;
  background-color: rgb(245,245,245);
}

div.update-shozai label {
  font-weight: normal;
  float: right;
}
