// Place all the styles related to the Ekis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//th, td { white-space: nowrap; }
//
//div.dataTables_wrapper {
//  //width: 800px;
//  width: 100%;
//  margin: 0 auto;
//}

//tr { height: 50px }