// Place all the styles related to the Keihis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.editor-datetime {
  position: relative;
}

tr [colspan="4"],[colspan="6"] {
  text-align: center;
}

.akaji {
  color: red;
  //color: #adadad;
}

//#keihihead_支給品 {
//  color: gainsboro;
//}

//#keihi-table {
//  width: 100%;
//  //table-layout: auto;
//  //border: 1px solid #000;
//}
//.hizuke-col {
//  width: 10%
//}
//.atesaki-col {
//  width: 10%; 
//}
//.kikan-col {
//  width: 10%; 
//}
//.hatyaku-col {
//  width: 10%; 
//}
//.koustuhi-col {
//  width: 10%; 
//}
//.shukuhaku-col {
//  width: 10%; 
//}
//.sonota-col {
//  width: 10%; 
//}
//.job-col {
//  width: 10%; 
//}
//.bikou-col {
//  width: 10%; 
//}
//.ryoshusho-col {
//  width: 10%; 
//}
//.delete-col {
//  width: 2%; 
//}